

<h1><%= @wordpage.id %></h1>
<h1><%= @wordpage.word %></h1>
<div class="definitionsDisplay card">
  <% @wordpage.definition.each do |definition| %>
  <ul>
    <li> <%= definition %> </li>
  </ul>
  <% end %>
  <table border="5"  align="center" width="50%">
  <tr>
    <td bgcolor="pink" colspan="3"> <strong><%= @wordpage.word %></strong> </td>

  </tr>
  <%= x=0 %>
  <% @wordpage.definition.each do |definition| %>

    <tr bgcolor='<%=@wordpage.definition_color[x]%>' >
      <td>Definition  <%= x %></td>


      <td bgcolor='<%=@wordpage.definition_color[x]%>' > <%= definition %>  </td>
      <td>'<%=@wordpage.definition_color[x]%>'</td>
      <td>counter <%= x+=1 %></td>


    </tr>

    <% end %>

    <tr>
      <td >  </td>

    </tr>

  </table>




</div>


<form action='/word/<%= @wordpage.id %>' method="post">
  <div class="form-group card">
    <label for="definition">Add A definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Enter</button>
</form>
