<form action='/' method="get">

  <button type="submit" class="btn btn-primary">Return to Homepage</button>
</form>

<h1><%= @wordpage.word %></h1>
<div class="container">
  <% @wordpage.definition.each do |definition| %>
  <ul>
    <li> <%= definition %> </li>
  </ul>
  <% end %>

  <form action='/word/<%= @wordpage.id %>' method="post">
    <div class="form-group card">
      <label for="definition">Add A definition</label>
      <input id="definition" name="definition" class="form-control" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Enter</button>
    <br>
    <br>
    <br>
    <br>
    <br>
  </form>

  <table border="5"  align="right" width="100%">
  <tr>
    <td align="center" border="5" bgcolor="pink" colspan="3">
      <font size="40"> <strong><%= @wordpage.word %></strong></font>
    </td>
  </tr>
  <% x=0 %>
  <% @wordpage.definition.each do |definition| %>
    <tr bgcolor='<%=@wordpage.definition_color[x]%>' >
      <td>
        <font size="5">Definition  <%= x %></font>
      </td>
      <td border="5" bgcolor='<%=@wordpage.definition_color[x]%>' >
        <font size="7"><%= definition %> </font>
      </td>
    </tr>
    <% x+=1 %>
    <% end %>
  </table>
</div>


<form action='/word/<%= @wordpage.id %>' method="post">
  <div class="form-group card">
    <label for="definition">Add A definition</label>
    <input id="definition" name="definition" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Enter</button>
</form>
